body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

:root {
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 40px;

  --color-1: #3B4F52;
  --color-1-transparent: #3B4F52b0;
  --color-2: #343C54;
  --color-2-transparent: #343C54b0;
  --color-3: #C95D63;
  --color-4: #EDD382;
  --color-5: #F7EBEC;
  --color-5-transparent: #F7EBECb0;

  color: var(--color-5);
}

button {
  color: var(--color-5);
  background-color: var(--color-2);
  border: 3px outset var(--color-5-transparent);
  border-radius: var(--spacing-small);
  min-height: calc(var(--spacing-small) * 2);
  min-width: calc(var(--spacing-small) * 2);
  padding:4px;
}

button:hover {
  transition: 0.7s;
  border: 3px inset var(--color-5-transparent);
}